.header {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: auto;
  padding: 14px 0;
}

.header a {
  display: block;
  width: 100%;
}

.header img {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .header {
    width: calc(200 * var(--px));
    margin: calc(33 * var(--px)) 0 0 calc(var(--edge) + 96 * var(--px));
    padding: 0;
  }
}